
__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/
ENV/


build/
dist/
*.spec


*.toc
*.pkg
*.pyz
*.exe
*.dll
*.lib


*.pyd
*.so
*.c
*.cpp


*.log


.DS_Store
Thumbs.db


.vscode/
.idea/


Data/*.db


*.tmp
*.bak


.coverage
htmlcov/
.pytest_cache/


Lib/
Scripts/
Include/